//- We use online converter to convert our html file into 
//- pug, jade or ejs file. 

doctype html
head
  title Pug
  script(type='text/javascript').
    if (foo) bar(1 + 5)
h1 Pug - node template engine
#container.col
  p You are amazing
  p Pug is a terse and simple templating language.
